<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chiphikhac</title>
    <%-include('../views/headercss') %>
</head>

<body>
    <%- include( '../views/navbar')%>
        <div class="container">
            <h1>BẢNG CHI TIẾT CHI PHÍ KHÁC</h1>
            <a href="/add-chiphikhac" class="btn btn-primary pull-right">Thêm chi phí khác</a>
            <table id="customers">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Nội dung</th>
                        <th>Số tiền</th>
                        <th>Ghi chú</th>
                        <th>Action </th>
                    </tr>
                </thead>
                <% var tong = 0;
                chiphikhacs.forEach((entry) => { tong = tong + entry.sotien %>
                    <tr ondblclick="handleUpdateProduct('<%= entry.id %>')">
                        <td>
                            <%= entry.id %>
                        </td>
                        <td>
                            <%= entry.noidung %>
                        </td>
                        <td align="right">
                            <%= entry.sotien.toLocaleString() %>
                        </td>
                        <td>
                            <%= entry.ghichu %>
                        </td>
                        <td width="15%">
                            <!-- <input class="btn btn-primary btn-sm" type="button" value="Update" onclick="handleUpdate('<%= entry.id %>')"> -->
                            <a href="javascript:;" onClick="handleUpdate('<%= entry.id %>')" class="btn btn-xs btn-primary btn-update" title="Update">Update</a>
                            <!-- <input class="btn btn-primary btn-sm" type="button" value="Delete" onclick="handleDelete('<%= entry.id %>')"> -->
                            <a href="javascript:;" onClick="if(confirm('Are you sure you want to delete?')){handleDelete('<%= entry.id %>');}else{ }" class="btn btn-xs btn-danger btn-delete" title="Del Product">Delete</a>
                        </td>
                    </tr>
                    <% } )%>
                        <tr>
                            <td colspan="2" align="center"> TỔNG CỘNG </td>
                            <td align="right">
                                <%= tong.toLocaleString()%>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
            </table>

            <script>
                function handleUpdate(value) {
                    $(location).attr('href', '/load-update/' + value);
                }
            </script>
            <script>
                function handleDelete(value) {
                    $(location).attr('href', '/deletechiphi/' + value);
                }
            </script>
            <script>
                function del_product(id) {
                    $('.process').css('display', 'block');
                    $('.process').html('<img src="./images/loading.gif">');
                    $.ajax({
                        'url': './process.php?action=del_product&id=' + id,
                        'type': "post",
                        success: function(result) {
                            info = JSON.parse(result);
                            if (result.status == 1) {
                                setTimeout(function() {
                                    $('.process').hide();
                                    $('.tr_' + id).hide();
                                }, 3000);
                                setTimeout(function() {
                                    $('.process').html(result.notice);
                                }, 1000);
                            } else if (result.status == 0) {
                                setTimeout(function() {
                                    $('.process').hide();
                                }, 3000);
                                setTimeout(function() {
                                    $('.process').html(result.notice);
                                }, 1000);
                            }
                        }
                    });
                }
            </script>
        </div>
</body>

</html>